In [38]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [39]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [40]:
#importing dataset from drive
df = pd.read_csv("/content/drive/MyDrive/training_data.csv",  sep = ',',encoding = "ISO-8859-1", header= 0)
df_test = pd.read_csv("/content/drive/MyDrive/test.csv",  sep = ',',encoding = "ISO-8859-1", header= 0)

In [41]:
#removing colon from both dataset and storing them as dataframe

def remo(num):
  a= num.split(":")
  return a[0]
def remo1(num):
  a= num.split(":")
  return a[1]
def remo2(num):
  a= num.split(":")
  return a[2]
  
df['x']= df['x:x2:y'].apply(remo)
df['x2']= df['x:x2:y'].apply(remo1)
df['y']= df['x:x2:y'].apply(remo2)

df_test['x']= df_test['x:x2:y'].apply(remo)
df_test['x2']= df_test['x:x2:y'].apply(remo1)
df_test['y']= df_test['x:x2:y'].apply(remo2)

In [42]:
#dropping primary coloum as it is not required anymore
dd = df.drop(["x:x2:y"], axis=1)
dd_test = df_test.drop(["x:x2:y"], axis=1)

In [43]:
#dataset consisted of blank spaces. Inorder to remove this i first filled blank spaces with NaN and dropped NaN.
dd.replace('', np.nan, inplace=True)
dd.dropna( inplace=True)

dd_test.replace('', np.nan, inplace=True)
dd_test.dropna( inplace=True)

In [44]:
dd.head(15)

                       x                   x2                   y
0   -0.22878771137762494  -2.2878771137762492  3.5060557614846815
1   -0.09466898484041342  -0.9466898484041342   0.782722730538508
2    -0.9566513326870152   -9.566513326870151  3.0453092754679334
3    -1.9845087538246209  -19.845087538246208   3.063299715087655
4      0.386115166110936   3.8611516611093597   5.548160674242063
5    -0.9235870282331189   -9.235870282331188   2.953078359044277
6    -2.9300249744480498  -29.300249744480496  2.5752062021200413
7    -0.5992298434965667   -5.992298434965667  2.8100888521378793
8    0.18680328497817256   1.8680328497817256   2.135610670031456
9    -0.6182105833594057   -6.182105833594057  3.1001312376330783
11    -0.601860694332906    -6.01860694332906  3.4270734540103063
12    0.7250352776511095    7.250352776511095   3.681682523600428
13    -1.425641405666449   -14.25641405666449  3.6082996165518573
14   -0.5487808228978934   -5.487808228978935  2.7070747162039788
15   -1.4176628797467417  -14.176628797467416   4.411688727155458

In [45]:
#cancatinating training x and x2
ys = dd['y']
xs = np.c_[dd['x'],dd['x2']]

In [46]:
#cancatinating test x and x2
yt = dd_test['y']
xt = np.c_[dd_test['x'],dd_test['x2']]

In [47]:
#standarzing dataset
xs = preprocessing.scale(xs)
ys = preprocessing.scale(ys)

xt = preprocessing.scale(xt)
yt = preprocessing.scale(yt)

In [48]:
#creating linear regression object training dataset
regressor = LinearRegression()
regressor.fit(xs, ys)

LinearRegression()

In [49]:
#predict dataset
y_pred = regressor.predict(xt)

In [50]:
#calculating mean squared error
from sklearn.metrics import mean_squared_error
mean_squared_error(yt, y_pred)

0.6603673614230972

In [51]:
#claculating correlation
asd= dd.drop(["y"], axis=1)
corrr=asd.corr(method='pearson')

In [53]:
corrr

Empty DataFrame
Columns: []
Index: []

In [54]:
#I wanted to calculate correlation of x and x2 because x2 = 10x. assuming that the correlation of x and x2 is 1
#we can find lineral regression between any one of x and x2 and y. following is an expmple to show correlation is one when x2= 10x

In [55]:
d = {'col1': [1, 2, 3 ,4 ,5 ,6], 'col2': [.1, .2, .3, .4, .5, .6]}
df3 = pd.DataFrame(data=d)

In [56]:
df3.corr()

      col1  col2
col1   1.0   1.0
col2   1.0   1.0

In [60]:
#finding linear regression of x and y
h1= dd['x']
h2= dd['y']

yt2 = dd_test['y']
yt1 = dd_test['x']

h1 = preprocessing.scale(h1)
h2 = preprocessing.scale(h2)

yt1 = preprocessing.scale(yt1)
yt2 = preprocessing.scale(yt2)

#adding dimension to x of training and test dataset
h1 = h1[:,np.newaxis]
yt1 = yt1[:,np.newaxis]

In [61]:
regressor = LinearRegression()
regressor.fit(h1, h2)

y_1 = regressor.predict(yt1)

In [63]:
y_1

array([-1.13767501, -0.79054628, -1.23463749, -1.30301509, -1.08627668,
       -0.90584114, -0.77126084, -0.74036927, -1.12480081, -0.6669088 ,
       -1.0732166 , -1.36598312, -1.2005665 , -1.10509609, -0.78007775,
       -1.4345697 , -0.96685918, -1.22478789, -1.2093878 , -0.66435344,
       -1.14782464, -0.96826287, -1.05254042, -0.90438209, -1.09819111,
       -1.26650842, -0.87569107, -1.07141338, -1.23462943, -1.1302828 ,
       -1.00688525, -1.00622656, -1.02924959, -0.50713127,  0.13127894,
       -0.26169402,  0.00579826,  0.29097997,  0.17540495,  0.1918708 ,
        0.54370843, -0.15571876,  0.1394777 ,  0.19736699, -0.53441274,
       -0.01625347,  0.40653245, -0.224099  ,  0.48629851,  0.11264976,
        0.09176762,  0.53627262,  0.72883265,  0.27872251,  0.15581196,
        0.29118201,  0.29090915,  0.00559071, -0.28281935,  0.14349171,
        0.17299706,  0.20263073,  0.30740057,  0.13222493,  0.83054218,
       -0.02512156, -0.05453965,  1.1114552 ,  0.95953388,  0.80141151,
        1.0482563 ,  1.23366954,  0.68163131,  0.75146876,  0.74526183,
        0.71665971,  0.4333641 ,  0.49964471,  0.45233469,  0.96995376,
        0.95682659,  0.84539743,  1.01789326,  0.95547598,  0.96732304,
        1.04554616,  0.94130055,  1.20452876,  0.35395626,  0.98007504,
        1.13691504,  0.40080611,  1.14570687,  1.06510686,  1.0124954 ,
        1.22052665,  0.77807372,  1.22693317,  0.99562819,  1.13520341])

In [62]:
mean_squared_error(yt2, y_1)

0.25931192298515227